NEXT_PUBLIC_ESCROW_CONTRACT_ID=CDRT2FH2LNJHHM5JVWHL5QUJOG3Z7WVEBE7EEUXNL7N65XEMNAMV4WEB
NEXT_PUBLIC_ORACLE_CONTRACT_ID=CBABRFADXDYNVIUEUBAQJUS4S5OEFHP2ZTZF7TFJH5A5DVQAH5JEER7M
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
